@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, and Opera */
*:not(body)::-webkit-scrollbar {
  display: none;
}

* input {
  background: transparent;
}

* {
  box-sizing: border-box;
}
